WCFWebClient/Connected Services/ServiceReference2/EmpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52016/EmpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52016/EmpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52016/EmpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" />
      <xsd:import schemaLocation="http://localhost:52016/EmpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFEmpServiceLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpService_GetAllEmps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmps" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetAllEmps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmpById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpById" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmpById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmpById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpById" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmpById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpById" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetEmpById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_DivideNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DivideNumber" />
  </wsdl:message>
  <wsdl:message name="IMathService_DivideNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_DivideNumber_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFEmpServiceLib" name="detail" element="q1:MyException" />
  </wsdl:message>
  <wsdl:portType name="IEmpService">
    <wsdl:operation name="GetAllEmps">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetAllEmps" message="tns:IEmpService_GetAllEmps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetAllEmpsResponse" message="tns:IEmpService_GetAllEmps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/AddEmployee" message="tns:IEmpService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/AddEmployeeResponse" message="tns:IEmpService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/DeleteEmpById" message="tns:IEmpService_DeleteEmpById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/DeleteEmpByIdResponse" message="tns:IEmpService_DeleteEmpById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/UpdateEmpById" message="tns:IEmpService_UpdateEmpById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/UpdateEmpByIdResponse" message="tns:IEmpService_UpdateEmpById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetEmpById" message="tns:IEmpService_GetEmpById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetEmpByIdResponse" message="tns:IEmpService_GetEmpById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMathService">
    <wsdl:operation name="DivideNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/DivideNumber" message="tns:IMathService_DivideNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/DivideNumberResponse" message="tns:IMathService_DivideNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMathService/DivideNumberMyExceptionFault" name="MyExceptionFault" message="tns:IMathService_DivideNumber_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpService" type="tns:IEmpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmps">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetAllEmps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmpService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpById">
      <soap:operation soapAction="http://tempuri.org/IEmpService/DeleteEmpById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpById">
      <soap:operation soapAction="http://tempuri.org/IEmpService/UpdateEmpById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpById">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetEmpById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMathService" type="tns:IMathService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DivideNumber">
      <soap:operation soapAction="http://tempuri.org/IMathService/DivideNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpService">
    <wsdl:port name="BasicHttpBinding_IEmpService" binding="tns:BasicHttpBinding_IEmpService">
      <soap:address location="http://localhost:52016/EmpService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMathService" binding="tns:BasicHttpBinding_IMathService">
      <soap:address location="http://localhost:52016/EmpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>